<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Product List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <main class="mt-5">
                    <div class="card">
                        <div class="card-header">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a th:href="@{/admin/products/list}">List Products</a></li>
                                    <li class="breadcrumb-item active text-primary" aria-current="page"><a th:href="@{/admin/products/form}">Form Products</a></li>
                                </ol>
                            </nav>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead class="table-primary">
                                        <tr>
                                            <th>STT</th>
                                            <th>Tên sản phẩm</th>
                                            <th>Giá Bán</th>
                                            <th>Phần trăm giảm giá</th>
                                            <th>Năm sản xuất</th>
                                            <th>Vật liệu</th>
                                            <th>Mô tả</th>
                                            <th>Loại SP</th>
                                            <th>Hình ảnh</th>
                                            <th>Trạng thái</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="item, loop : ${pageProd}">
                                            <td th:text="${loop.index + 1}">1</td>
                                            <td th:text="${item.productName}">Sample Product</td>
                                            <td class="price" th:text="${item.price}">100,000</td>
                                            <td th:text="${item.percentDecrease}">10%</td>
                                            <td th:text="${item.yearManufacture}">2021</td>
                                            <td th:text="${item.material}">Material</td>
                                            <td th:text="${item.description}">Product Description</td>
                                            <td th:text="${item.category.categoryName}">Category Name</td>
                                            <td><img th:src="@{/Image_SP/{imageName}(imageName=${item.imageId.imageName})}" width="100px" height="100px"></td>
                                            <td th:text="${item.status.statusName}">Status Name</td>
                                            <td><a th:href="@{/admin/products/edit/{id}(id=${item.productId})}" class="btn btn-danger">Edit</a></td>
                                            <td colspan="1"><a href="#" class="btn btn-danger" th:onclick="'confirmDelete(' + ${item.productId} + ')'"><i class="fa-solid fa-trash"></i></a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="d-flex justify-content-center">
                                <div th:if="${totalPages > 0}" class="pagination">
                                    <div th:each="i : ${#numbers.sequence(0, totalPages - 1)}">
                                        <span th:if="${i == pageClick}" class="page-link active" th:text="${i + 1}">1</span>
                                        <a th:if="${i != pageClick}" th:href="@{/admin/products/list(pageNo=${i})}" class="page-link" th:text="${i + 1}">1</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>

    <!-- Modal Confirm Delete -->
    <div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmDeleteModalLabel">Xác Nhận Xóa</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">Bạn có chắc chắn muốn xóa sản phẩm này không?</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                    <a id="confirmDeleteButton" class="btn btn-danger" href="#">Xóa</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Toast Message -->
    <div aria-live="polite" aria-atomic="true" style="position: fixed; top: 90px; right: 100px; width: 280px; z-index: 1050;">
        <div class="toast-container">
            <div th:if="${errorMessage != null}" class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header bg-danger text-white">
                    <strong class="me-auto">Lỗi</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body" th:text="${errorMessage}"></div>
            </div>
            <div th:if="${successMessage != null}" class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header bg-success text-white">
                    <strong class="me-auto">Thành công</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body" th:text="${successMessage}"></div>
            </div>
        </div>
    </div>

    <!-- JavaScript -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        // Function to show confirm delete modal
        function confirmDelete(productId) {
            var confirmDeleteModal = new bootstrap.Modal(document.getElementById('confirmDeleteModal'));
            confirmDeleteModal.show();
            var confirmDeleteButton = document.getElementById('confirmDeleteButton');
            confirmDeleteButton.setAttribute('href', '/admin/products/delete/' + productId);
        }

        // Function to show toast message
        // Tự động đóng toast sau 3 giây
        const toastElements = document.querySelectorAll('.toast');
        toastElements.forEach(toast => {
            const toastElement = new bootstrap.Toast(toast);
            setTimeout(() => {
                toastElement.hide();
            }, 3000); // Đóng sau 3000 ms (3 giây)
        });

        // Function to format currency
        document.querySelectorAll('.price').forEach(function(element) {
            var price = parseFloat(element.innerText.replace(/[^0-9.-]+/g,"")); // Chuyển đổi giá trị sang số
            price = new Intl.NumberFormat('vi-VN', {
                style: 'currency',
                currency: 'VND'
            }).format(price);
            element.innerText = price.replace('₫', '') + ' VNĐ'; // Loại bỏ ký hiệu ₫ và thêm đuôi "VNĐ"
        });
    </script>
</body>
</html>
